body {
    margin: 0;
    padding: 0;
}

.header-banner-wrapper {
    display: flex;
    margin: 2% 0% 2% 5%;
}

.header-text {
    width: 50%;
}

h1 {
    font-size: 45px;
    color: #6E6E6E;
    display: inline-block;
}

.header-text h1 span {
    color: #FB984C;
}

.header-text p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

button {
    border: none;
    background: #FD5231;
    padding: 15px 40px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0px;
}

.header-text img {
    width: 70%;
    margin-left: 70px;
}

.about {
    background-image: url(images/about-banner.png);
    background-repeat: no-repeat;
}

.about-wrapper {
    display: flex;
    padding: 50px;
}

.about-content {
    width: 50%;
}

.about-content img {
    width: 50%;
}

.about-content p {
    font-size: 20px;
    text-align: justify;
    padding-right: 20px;
    line-height: 30px;
}

.recipies h1 {
    text-align: center;
    display: block;
}

.recipies p {
    text-align: center;
    font-size: 18px;
    color: #777;
}

.recipie-title {
    display: flex;
}

.recipie-title-wrapper {
    width: 50%;
    box-shadow: 0px 0px 16px gray;
    padding: 30px;
    margin: 40px;
    border-radius: 20px;
}

.recipie-title-wrapper img {
    width: 100%;
    height: 300px;
}

.recipie-title-wrapper p {
    text-align: justify;
}


.fans-wrapper {
    display: flex;

}

.fans-count {
    width: 30%;
    text-align: center;
}

.fans-count span {
    color: #333;
    margin-top: -100px !important;
    display: block;
}

footer {
    background: #000;
    text-align: center;
    padding: 50px 0px;
    color: white;
    margin-top: 50px;
}